{{#if answerForm}}
  <div class="col-md-8">
    <button class="btn btn-default" {{action "hideAnswerForm"}}>Cancel Answer</button>
    <form>
      <div class="form-group">
        <label for="author">Author:</label><br>
        {{input value=author id="author" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="content">Content:</label><br>
        {{textarea cols='100' rows='20' value=content id="content" class="form-control"}}
      </div>

      <div class="row text-center">
        <button class="btn btn-primary" {{action 'saveAnswer'}}>Submit Answer</button>
      </div>
    </form>
  </div>
{{else}}
  <button class="btn btn-primary btn-control" {{action "showAnswerForm"}}>Answer this question</button>
{{/if}}
