<li class="list-group-item">
  <span id="qt-answer-count" class="pull-right label label-default">Answers: {{question.answers.length}}</span>
  <span id="qt-votes" class="pull-right label label-info">Votes: {{question.votes}}</span>
  <span id="qt-title">{{question.title}}</span> -
  <span id="qt-author">{{question.author}}</span>,
  <span id="qt-time">{{moment-from-now question.time}}</span>
  <span id="qt-category" class="label label-success">{{question.category.name}}</span>
</li>
