{{partial 'header'}}

<div id="flash-container" class="container">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>

{{partial 'optionsbar'}}

{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  <button {{action "signIn" "google"}}>Sign in with google</button>
{{/if}}


<div id="content-wrapper" class="container">
  {{outlet}}
</div>

{{partial 'footer'}}
