<div id="question-page-wrapper" class="container">

  <div class="text-left">
    <h2>{{model.title}}<button class="btn btn-danger pull-right" {{action "deleteQuestion" model}}>Delete Question</button></h2>
  </div>
  <hr>

  <div class="col-md-8 text-left">
    <div id="question-content" class="well">
      {{model.content}}
    </div>

    <div id="question-actions" class="text-left row">
      {{create-answer-form saveAnswer="saveAnswer" model=model}}
      {{update-question-form model=model updateQuestion="updateQuestion"}}

    </div>

    <div id="comments-container">
      {{#each model.answers as |answer|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{answer.author}} - <em>{{moment-from-now answer.time}}</em></h3>
        </div>
        <div class="panel-body">
          {{answer.content}}
        </div>
        <div class="panel-footer">
          <button class="btn btn-danger" {{action "deleteAnswer" answer}}>Remove</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-md-4">
    <aside id="question-helper-wrapper">
      <div id="question-helper-content" class="well">
        <h3>Question Details</h3>
        <p> asked: {{moment-from-now model.time}}</p>
        {{#if model.edited_at}}
          <p>last edited: {{moment-from-now model.edited_at}}</p>
        {{/if}}
      </div>
    </aside>
  </div>
</div>
