<div id="question-page-wrapper" class="container">

  <div class="text-left col-md-12">
    <div id="question-votes">
      <span class="glyphicon glyphicon-triangle-top" {{action "upVoteQuestion" model}} aria-hidden="true"></span><br>
      <span class="vote-count">{{model.votes}}</span><h2 id="question-title">{{model.title}}<button id="delete-btn" class="btn btn-danger pull-right" {{action "deleteQuestion" model}}>Delete Question</button></h2><br>
      <span class="glyphicon glyphicon-triangle-bottom" {{action "downVoteQuestion" model}} aria-hidden="true"></span>
    </div>
  </div>
  <hr>

  <div class="col-md-8 text-left">
    <hr>
    <div id="question-content">
      {{markdown-to-html markdown=model.content}}
    </div>
    <hr>

    <div id="question-actions" class="text-left row">
      {{#if session.isAuthenticated}}
        {{create-answer-form saveAnswer="saveAnswer" model=model}}
      {{else}}
        <button class="btn btn-primary btn-control" {{action "signIn" "google"}}>You must first sign in!</button>
      {{/if}}
      {{update-question-form model=model updateQuestion="updateQuestion"}}
    </div>

    <div id="comments-container">
      {{#each sortedAnswers as |answer|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-triangle-top" {{action "upVoteAnswer" answer}} aria-hidden="true"></span>
          <span class="glyphicon glyphicon-triangle-bottom" {{action "downVoteAnswer" answer}} aria-hidden="true"></span>
          <span class="vote-count pull-right">{{answer.votes}}</span>
          <h3 class="panel-title">{{answer.author}} - <em>{{moment-from-now answer.time}}</em></h3>
        </div>
        <div class="panel-body">
          {{markdown-to-html markdown=answer.content}}
        </div>
        <div class="panel-footer">
          <button class="btn btn-danger" {{action "deleteAnswer" answer}}>Remove</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-md-4">
    <aside id="question-helper-wrapper">
      <div id="question-helper-content" class="well">
        <h3>Question Details</h3>
        <p><b>asked:</b> {{moment-from-now model.time}}</p>
        {{#if model.edited_at}}
          <p><b>last edited:</b> {{moment-from-now model.edited_at}}</p>
        {{/if}}
        <p><b>written by:</b> {{model.author}}</p>
        <hr>
        <h3>Helpful Hints</h3>
        <p>This editor suppots markdown</p>
        <p><code>code</code> can be created by surrounding text with ``</p>
        <p><i>italics</i> are created using _text_</p>
        <p><pre>code blocks</pre>are formed by indenting 4 spaces</p>
        <p><h4>headings</h4> are created with hashes like #### </p>
        <p><b>bolding</b> is done with **text**</p>
      </div>
    </aside>
  </div>
</div>
