<div id="question-page-wrapper" class="container">

  <div class="text-left">
    <h2>{{model.title}}</h2>
  </div>
  <hr>

  <div class="col-md-8 text-left">
    {{model.content}}

    <div id="question-actions" class="row">
      {{update-question-form model=model updateQuestion="updateQuestion"}}
      <button class="btn btn-danger" {{action "deleteQuestion" model}}>Delete</button>
    </div>
  </div>

  <div class="col-md-4">
    <aside id="question-helper-wrapper">
      <div id="question-helper-content" class="well">
        <h3>Question Details</h3>
        <p> asked: {{moment-from-now model.time}}</p>
      </div>
    </aside>
  </div>

  <div class="row">
    <p class="lead">Submit an answer:</p>

    {{create-answer-form saveAnswer="saveAnswer" model=model}}
  </div>

  <!-- Load Comments -->
  <div id="comments-container" class="container">
    {{#each model.answers as |answer|}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{answer.author}} - {{moment-from-now answer.time}}</h3>
      </div>
      <div class="panel-body">
        {{answer.content}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
