<div id="question-page-wrapper" class="container">

  <div class="text-left">
    <h2>{{model.title}}</h2>
  </div>
  <hr>

  <div class="col-md-8 text-left">
    <div id="question-content" class="well">
      {{model.content}}
    </div>

    <div id="question-actions" class="text-left row">
      {{create-answer-form saveAnswer="saveAnswer" model=model}}
      {{update-question-form model=model updateQuestion="updateQuestion"}}
      <button class="btn btn-danger btn-control" {{action "deleteQuestion" model}}>Delete</button>
    </div>

    <div id="comments-container">
      {{#each model.answers as |answer|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{answer.author}} - {{moment-from-now answer.time}}</h3>
        </div>
        <div class="panel-body">
          {{answer.content}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col-md-4">
    <aside id="question-helper-wrapper">
      <div id="question-helper-content" class="well">
        <h3>Question Details</h3>
        <p> asked: {{moment-from-now model.time}}</p>
      </div>
    </aside>
  </div>


  <!-- Load Comments -->

</div>
